/* Soluzione qui */
@media screen and (min-width:768px) {
    #topbar {
        justify-content: left;
    }

    .recipe {
        padding: 1rem;
    }

    .recipe-origin {
        display: inline;
    }

    .recipe-name {
        font-size: 2.25rem;
    }

    .quick-notes {
        ul {
            display: flex;
            gap: 15px;
            flex-wrap: wrap;
            

            li {
                flex-basis: calc(100% / 3 - (15px * 2) / 3);
                font-size: 17px;
            }
        }
    }

    .social-networks {
        .btn {
            width: 100%;
            margin-bottom: 30px;
        }
    }

    .ads {
        display: inline;
    }

    .clearfix {
        img {
            float: inline-start;
            display: inline;
            margin-right: 20px;
        }
    }

}

@media screen and (min-width:992px) {
    .recipe-name {
        font-size: 50px;
    }

    .recipe-card {
        display: flex;
        justify-content: space-between;
    }

    .recipe-video {
        width: 100%;
        height: auto;
    }
    .recipe-info{
        width: 50%;
        ul{
            display: flex;
            flex-direction: column;
            
            li{
                
            }
        }
    }
    .social-networks{
        .label{
            display: inline;
        }
    }
    footer{
        display: flex;
        justify-content: space-between;
        address{
            text-align: left;
        }

    }
}
@media screen and (min-width:576px) { 
    .btn{
        width: 100%;
    }
    img{
        float: inline-start;
        margin-right: 1px;
    }
}