/* Soluzione qui */
@media screen and (min-width:768px) {
    #topbar {
        justify-content: left;
    }

    .recipe {
        padding: 1rem;
    }

    .recipe-origin {
        display: inline;
    }

    .recipe-name {
        font-size: 2rem;
    }

    .quick-notes {
        ul {
            display: flex;
            gap: 15px;
            flex-wrap: wrap;

            li {
                flex-basis: calc(100% / 3 - (15px * 2) / 3);
                font-size: 17px;
            }
        }
    }

    .social-networks {
        .btn {
            width: 100%;
        }
    }

    .ads {
        display: inline;
    }

    .clearfix {
        letter-spacing: 1rem;
        img {
            float: inline-start;
            display: inline;
            margin-right: 20px;
        }
    }

}